.sfondo{
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url('https://images.wallpaperscraft.com/image/abstraction_illusion_immersion_strength_imagination_blue_round_10447_1920x1080.jpg');
    /* background-image: url('../../../sfondo_aula.jpg'); */
    background-size: 100% 100%;
    overflow: scroll;
}

.container{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 50px;

    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: black;

    margin-top: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);

    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
}
  
.input{
    display: block;
} 

h1{
    text-align: center;
    
}

#time{
    margin-left: 2%;
}

mat-form-field{
    margin-bottom: 30px;
}

.datetime
{
    width: 49%;
}

.note{

    font-size: smaller;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(150, 150, 150, 1);
    margin-bottom: 5px;

}

.bottoni{

    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.invia{

    width: 40%;
}

.cancella{

    margin-left: 20%;
    width: 40%;
}

mat-progress-bar{
    margin-top: 10px;
}
