
<div class="container">
    <form [formGroup]="MyForm">
        <h1>Project Work Azienda 1</h1> 

        <mat-form-field class="input">
            <input
                matInput
                formControlName="description"
                placeholder="Descrizione intervento"
                autocomplete="off"
                maxlength="{{constants.maxDescription}}"
                (input)="DatiForm.description = MyForm.get('description').value"
            >
            <mat-hint>Massimo {{constants.maxDescription}} caratteri</mat-hint>
        </mat-form-field>
    
        <mat-form-field class="input">
            <textarea
                matInput
                formControlName="detail"
                placeholder="Dettagli"
                autocomplete="off"
                maxlength="{{constants.maxDetail}}"
                (input)="DatiForm.detail = MyForm.get('detail').value"
            ></textarea>
            <mat-hint>(disponibili {{constants.maxDetail - (DatiForm.detail || '').length}} di {{constants.maxDetail}} caratteri massimo)</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="dp" placeholder="Data e ora" formControlName="date" autocomplete="off">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
        </mat-form-field> 

        <mat-form-field id="time">
            <input matInput type="time" autocomplete="off">
        </mat-form-field>

        <mat-form-field class="input">
            <input 
                matInput 
                formControlName="price"
                placeholder="Costo"
                #price
                autocomplete="off"
                (input)="price_ValidatePrice(price)"
                (keyup)="price_KeyUpPrice(price)"
                (focus)="price_KeyUpPrice(price)"
                (click)="price_KeyUpPrice(price)"
            >
        </mat-form-field>
    <!--
        <mat-form-field class="input">
            <input
                type="text"
                placeholder="Manutentore"
                formControlName="worker"
                autocomplete="off"
                spellcheck="off"
                matInput
                [matAutocomplete] ="auto"
            >
            <mat-autocomplete #auto="matAutcomplete">
                <mat-option value="option" *ngFor="let persona of ms.getList()">{{persona[0]}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    -->

        <mat-form-field class="input">
            <input type="text" placeholder="Manutentore" aria-label="Number" matInput formControlName="worker" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of getFilteredList()" [value]="option[0]">
                {{option[0]}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>

<div>
    Validation status:
    <div>- Description: {{MyForm.get('description').valid}}</div>
    <div>- Detail: {{MyForm.get('detail').valid}}</div>
    <div>- Price: {{MyForm.get('price').valid}}</div>
    <div>- Worker: {{MyForm.get('worker').valid}}</div>
    <div></div>
    Data collected:
    <div>- Description: {{DatiForm.description}}</div>
    <div>- Detail: {{DatiForm.detail}}</div>
    <div>- Price: {{DatiForm.price}}</div>
    <div>- Worker: {{DatiForm.worker_id}}</div>
</div>