<div class="sfondo">
    <app-rolling></app-rolling>
    <app-rolling></app-rolling>
    <app-rolling></app-rolling>
    <app-rolling></app-rolling>
    <app-rolling></app-rolling>

    <div class="container" #container (window:resize)="onResize(container)">
        <form [formGroup]="MyForm" (ngSubmit)="onSubmit()">
            <h1>Project Work Azienda 1</h1> 

            <mat-form-field class="input">
                <input
                    matInput
                    formControlName="description"
                    placeholder="Descrizione intervento*"
                    autocomplete="off"
                    maxlength="{{constants.maxDescription}}"
                    (input)="DatiForm.description = MyForm.get('description').value"
                    [readonly]="workerService.iLastPostResponse == 0"
                >
                <mat-hint>Massimo {{constants.maxDescription}} caratteri</mat-hint>
                <mat-error>Campo necessario</mat-error>
            </mat-form-field>
        
            <mat-form-field class="input">
                <textarea
                    matInput
                    formControlName="detail"
                    placeholder="Dettagli"
                    autocomplete="off"
                    maxlength="{{constants.maxDetail}}"
                    (input)="DatiForm.dettaglio = MyForm.get('detail').value"
                    [readonly]="workerService.iLastPostResponse == 0"
                ></textarea>
                <mat-hint>(disponibili {{constants.maxDetail - (DatiForm.dettaglio || '').length}} di {{constants.maxDetail}} caratteri massimo)</mat-hint>
            </mat-form-field>

            <mat-form-field class="datetime">
                <input matInput [matDatepicker]="dp" placeholder="Data e ora*" formControlName="date" autocomplete="off" [readonly]="workerService.iLastPostResponse == 0">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
                <mat-error>Necessaria data futura</mat-error>
            </mat-form-field> 

            <mat-form-field id="time" class="datetime">
                <input matInput type="time" autocomplete="off" formControlName="time" [readonly]="workerService.iLastPostResponse == 0">
            </mat-form-field>

            
                
            <mat-form-field class="input">
                <input 
                    matInput 
                    formControlName="price"
                    placeholder="Costo*"
                    #price
                    autocomplete="off"
                    (input)="price_ValidatePrice(price)"
                    (keyup)="price_KeyUpPrice(price)"
                    (focus)="price_KeyUpPrice(price)"
                    (click)="price_KeyUpPrice(price)"
                    [readonly]="workerService.iLastPostResponse == 0"
                >
                <mat-error>Campo necessario</mat-error>
                <mat-icon matSuffix>euro_symbol</mat-icon>
            </mat-form-field>
            

            <mat-form-field class="input">
                <input type="text" placeholder="Manutentore/trice*" aria-label="Number" matInput formControlName="worker" [matAutocomplete]="auto" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off" [readonly]="workerService.iLastPostResponse == 0">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of getFilteredList()" [value]="option[0]">
                    {{option[0]}}
                </mat-option>
                </mat-autocomplete>

                <mat-error *ngIf="MyForm.get('worker').errors">{{MyForm.get('worker').errors.error}}</mat-error>
            </mat-form-field>
            
            <div class="note">
                I campi contrassegnati con * sono necessari.
            </div>

            <div class="bottoni">
                <button type="submit" class="invia" mat-raised-button color="primary" [disabled]="(!MyForm.valid) || (workerService.iLastPostResponse == 0)">Invia</button>
                <button type="reset" (click)="resetFormData()" class="cancella" mat-raised-button color="accent" [disabled]="workerService.iLastPostResponse == 0">Cancella</button>
            </div>
        </form>
    </div>

    <!--
    <div>
        Validation status:
        <div>- Description: {{MyForm.get('description').valid}}</div>
        <div>- Detail: {{MyForm.get('detail').valid}}</div>
        <div>- Data: {{MyForm.get('date').valid}}</div>
        <div>- Ora: {{MyForm.get('time').valid}}</div>
        <div>- Price: {{MyForm.get('price').valid}}</div>
        <div>- Worker: {{MyForm.get('worker').valid}}</div>
        <div></div>
        Data collected:
        <div>- Description: {{DatiForm.description}}</div>
        <div>- Detail: {{DatiForm.dettaglio}}</div>
        <div>- Data: {{DatiForm.date}}</div>
        <div>- Price: {{DatiForm.price}}</div>
        <div>- Worker: {{DatiForm.worker_id}}</div>
    </div>
    -->
</div>